body {
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.placeItemList {
  background-color: darkolivegreen;
  color: white;
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 360px;
  margin: 4px;
}

.placeHeading {
  list-style-type: none;
}
