body {
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.placeItemList {
  background-color: darkolivegreen;
  color: white;
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 360px;
  margin: 4px;
  padding: 4px;
  list-style-type: none;
}

/* .placeHeading {
  list-style-type: none;
} */

.placeDescription {
  border: solid 1px rgb(198, 205, 212);
  border-radius: 4px;
  padding: 4px;
}
